@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Veja as pesquisas criadas</h2>
        <ul>
            <li>Clicando <a href="@Url.Action("List", "Survey")">aqui</a></li>
        </ul>
    </div>
</div>
